

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
}

li {
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    transition: background 0.3s ease;
}

a:hover {
    background: #017DBF;
    color: white;
}